# Dependencies
/node_modules

# Build output
/dist
/build

# Log files
npm-debug.log
yarn-error.log
yarn-debug.log

# Vite build output
.vite

# Environment variables
.env
.env.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?